.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}div.clearfix{display:block;}

body {
  background: #111;
  font-family: Helvetica;
}

.sequencer {
  float: left;
  width: 800px;
  margin-right: 10px;
}

.node {
  float: left;
  width: 48px;
  height: 48px;
  margin: 0 0 2px 2px;
  background-color: #666;
  border-radius: 10px;
  background: -moz-linear-gradient(#666 0%, #555 10%, #444 90%, #333 100%);
}

.node.on {
  background: #999;
  background: -moz-linear-gradient(#ccc 0%, #aaa 10%, #999 90%, #888 100%);
}

.node.ticked {
  background: #99e;
  background: -moz-linear-gradient(#ccc 0%, #aaa 10%, #999 90%, #888 100%);
}

.node.on.ticked {
  background: #eee;
  background: -moz-linear-gradient(#fff 0%, #eee 10%, #ddd 90%, #ccc 100%);
}


.controls {
  color: #eee;
  float: left;
  font-weight: normal;
  /* text-shadow: 0 -1px 1px #aaa; */
}
.controls > label {
  display: block;
  margin-top: 10px;
}
.controls > input {
  width: 100px;
  cursor: move;
  background: #000;
  color: rgb(100, 200, 100);
  border: none;
  font-size: 14px;
  box-shadow: inset 4px 4px 10px -6px #fff;
}
